<header>
    <link rel="stylesheet" href="/css/header.css">

    <h1>XSpace</h1>
    

    <% if(locals.user){ %>
        <p> <%= user.name %> </p>
        <p class="h-btn"> <a href="/user/sign-out">Sign Out</a> </p>
    <% } else { %>
        <p class="h-btn"> <a href="/user/login">Sign in</a> </p>
        <p class="h-btn"> <a href="/user/signup">Sign up</a> </p>
    <% } %>
        
</header>