<header>
    XSpace 
    <br>
    Page = <%= title %>

    <ul>
        <% if(locals.user){ %>
            <li> <%= user.name %> </li>
            <li> <a href="/user/sign-out">Sign Out</a> </li>
        <% }else{ %>
            <li> <a href="/user/login">Sign in</a> </li>
            <li> <a href="/user/signup">Sign up</a> </li>
        <% } %>
    </ul>


</header>