<div class="post-item">
    <%= post.user.name %>
    <br>
    <small> <%= post.content %> </small>

    <% if(locals.user && locals.user.id == post.user.id) { %>
        <a href="post/destroy/<%= post.id %>">Delete</a>
    <% } %>

</div>