<link rel="stylesheet" href="<%= assetPath('css/form_style.css') %>">

<div class="form-container">

    <form action="/user/check-email" method="post">
        <label>Enter Email</label><input type="email" name="email" required>
        <br>
        <button type="submit">Submit</button>
    </form>

</div>