<link rel="stylesheet" href="<%= assetPath('css/form_style.css') %>">


<div class="form-container">

    <form action="/user/create-session" method="post">
        <label>Email</label><input type="text" name="email" required>
        <br>
        <label>Password</label><input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <p>
        <a href="/user/forget-password">Forget Password</a>
    </p>


    <p>
        <a href="/user/auth/google">Sign up using Google</a>
    </p>

</div>