<div class="container">
    
    <h2>Hi <%= resetToken.user.name %>,</h2>

    <h3>Your token for changing your password:</h3>
    <h2> <%= resetToken.access_token %> </h2>
    <br><br>
    <h2>Thanks,<br> postman(codial)</h2>

</div>