form{
    textarea{
        border-radius: 15px;
        width: 100%;
        display: block;
        margin: 0px 0px 30px 0px;
        padding: 10px;
        background-color: rgb(245, 223, 223);
    }
}

#post-container{
    width: 80%;

    .post-item{
        background-color: rgb(130, 188, 255);
        border: 2px solid lightcoral;
        width: 100%;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;

        .post-content{
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            
            small{
                padding: 15px;
            }    
        }

        .item-buttons{
            width: 300px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: start;

            div *{
                padding-right: 20px;
            }
        }

        #comment-container{
            padding: 10px;

            .comment-item{
                padding: 3px;

                .comment-content{
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: 5px;
                }

                .item-buttons{
                    width: 300px;
                    padding: 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;

                    div *{
                        padding-right: 20px;
                    }
                }
            }
        }
    }

    .post-item:hover{
        background-color: rgb(98, 170, 253);
        box-shadow: 0px 0px 5px 0px rgb(243, 79, 79);
        transition-duration: 300ms;
    }
    
}


.user-list{
    border: 2px solid lightcoral;
    border-radius: 10px;
    width: 200px;
    padding: 15px;

    .user-item{
        a{
            padding: 5px;
            text-decoration: none;
        }

        a:hover{
            border-left: 6px solid lightcoral;
            transition-duration: 300ms;
        }
    }
}