*{
    font-family: 'Noto Sans JP', sans-serif;
    

    body {
        position: absolute;
        background-color: rgb(159, 212, 255);
        width: 100%;
        top: 0px;
        margin: auto;


        #body-container{
            position: relative;
            top: 120px;
            width: 90%;
            padding-left: 50px;

        }
    }

}