*{
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: thistle;
    width: 100%;
    #body-container{
        position: relative;
        top: 120px;
        width: 100%;

    }
}