<div class="container">
    
    <h2>Hi <%=comment.user.name%>,</h2>

    <h3>Your new comment: <%= comment.content %> is posted successfully.</h3>
    <br><br>
    <h2>Thanks,<br> postman(codial)</h2>
</div>