form textarea {
  border-radius: 15px;
  width: 100%;
  display: block;
  margin: 0px 0px 30px 0px;
  padding: 10px;
  background-color: #f5dfdf; }

#post-container {
  width: 80%; }
  #post-container .post-item {
    background-color: #82bcff;
    border: 2px solid lightcoral;
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 10px; }
    #post-container .post-item .post-content {
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px; }
      #post-container .post-item .post-content small {
        padding: 15px; }
    #post-container .post-item .item-buttons {
      width: 300px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: start; }
      #post-container .post-item .item-buttons div * {
        padding-right: 20px; }
    #post-container .post-item #comment-container {
      padding: 10px; }
      #post-container .post-item #comment-container .comment-item {
        padding: 3px; }
        #post-container .post-item #comment-container .comment-item .comment-content {
          border: 1px solid black;
          border-radius: 10px;
          padding: 5px; }
        #post-container .post-item #comment-container .comment-item .item-buttons {
          width: 300px;
          padding: 5px;
          display: flex;
          flex-direction: row;
          justify-content: start; }
          #post-container .post-item #comment-container .comment-item .item-buttons div * {
            padding-right: 20px; }
  #post-container .post-item:hover {
    background-color: #62aafd;
    box-shadow: 0px 0px 5px 0px #f34f4f;
    transition-duration: 300ms; }

.user-list {
  border: 2px solid lightcoral;
  border-radius: 10px;
  width: 200px;
  padding: 15px; }
  .user-list .user-item a {
    padding: 5px;
    text-decoration: none; }
  .user-list .user-item a:hover {
    border-left: 6px solid lightcoral;
    transition-duration: 300ms; }
