* {
  font-family: 'Noto Sans JP', sans-serif; }
  * body {
    position: absolute;
    background-color: #ffb6b6;
    width: 100%;
    top: 0px;
    margin: auto; }
    * body #body-container {
      position: relative;
      top: 120px;
      width: 90%;
      padding-left: 50px; }
